body {
	color:#969696;
	font-size:16px;
	overflow-x:hidden;
    font-family: 'Playfair Display', serif;
}
h1,h2,h3,h4,h5,h6 {
	/*font-weight:600;*/
    color:#151515;
    font-family: 'Playfair Display', serif;
}

h1 {
	font-size:54px;
}

h2 {
    font-size:36px;
    font-weight:600;
}

h3 {
	font-size:24px;
}

h4 {
    font-size:16px;
    font-weight:500;
}
.black-text {
    color:#000;
    position: relative;
    top: 50px;
    /* line-height: 200px;  */
}
.black-text-small {
    color:#000;
    position: relative;
    top: 80px;
}
.search-input {
    position: relative;
    top: 100px;
	width: 460px;
	margin-right:auto;
    margin-left:auto;
    border:#fff 1px solid;
    box-shadow: none;
}
.button-input {
	position: relative;
    top: 140px;

}
.result{
	color: #000;
	text-align:center;
	position: relative;
    top: 250px;

}
.previous {
	position: relative;
    top: 50px;

}
.customize{
	position: relative;
	top: 200px;
	color: #000;

}

/* --- Background Image --- */
.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
	z-index:-1;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
    /*opacity: 0.5;*/
	/*background-color:#000;*/
}